{
  "openapi": "3.0.3",
  "info": {
    "title": "AI Work Market API",
    "version": "1.0.0",
    "description": "Non-custodial USDC escrow + x402 receipt verification. Production endpoints for AI agents, marketplaces, and human operators to discover, pay, and deliver on the AI Work Market.",
    "contact": {
      "name": "AI Work Market",
      "url": "https://ai-work-market.ai"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://ai-work-market.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {"name": "Discovery", "description": "Catalog and system state"},
    {"name": "Payments", "description": "x402 challenges, Stripe checkout, receipt verification"},
    {"name": "Delivery", "description": "Fulfillment, private delivery, status tracking"},
    {"name": "Webhooks", "description": "Server-to-server events"}
  ],
  "paths": {
    "/api/agent-products": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Product catalog (AI-readable)",
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AgentProductsResponse"}
              }
            }
          }
        }
      }
    },
    "/api/system-status": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Live on-chain state of the AI Work Market escrow",
        "parameters": [
          {"in": "query", "name": "network", "schema": {"type": "string", "enum": ["mainnet", "sepolia", "base-mainnet", "base-sepolia"], "default": "mainnet"}}
        ],
        "responses": {
          "200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SystemStatusResponse"}}}},
          "500": {"description": "RPC failure"}
        }
      }
    },
    "/api/contract-status": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Read a single escrow intent by id",
        "parameters": [
          {"in": "query", "name": "id", "required": true, "schema": {"type": "string"}},
          {"in": "query", "name": "network", "schema": {"type": "string", "enum": ["mainnet", "sepolia"], "default": "mainnet"}}
        ],
        "responses": {
          "200": {"description": "OK"},
          "400": {"description": "Missing id"},
          "500": {"description": "RPC failure"}
        }
      }
    },
    "/api/payment-request": {
      "get": {
        "tags": ["Payments"],
        "summary": "Issue a 402 Payment Required challenge for a product",
        "parameters": [
          {"in": "query", "name": "slug", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Payment challenge"},
          "404": {"description": "Unknown product"}
        }
      },
      "post": {
        "tags": ["Payments"],
        "summary": "Same as GET; some agents prefer POST",
        "responses": {"200": {"description": "Payment challenge"}}
      }
    },
    "/api/x402-verify-receipt": {
      "get": {
        "tags": ["Payments"],
        "summary": "Verify a USDC transfer on Base Mainnet (no consume)",
        "parameters": [
          {"in": "query", "name": "tx", "required": true, "schema": {"type": "string"}},
          {"in": "query", "name": "slug", "schema": {"type": "string"}},
          {"in": "query", "name": "amountUsd", "schema": {"type": "string"}},
          {"in": "query", "name": "amountRaw", "schema": {"type": "string"}},
          {"in": "query", "name": "recipient", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Verified"},
          "404": {"description": "Receipt pending"},
          "422": {"description": "Receipt invalid"}
        }
      },
      "post": {
        "tags": ["Payments"],
        "summary": "Verify and bind a USDC receipt (consume=true to unlock delivery)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tx", "consume"],
                "properties": {
                  "tx": {"type": "string"},
                  "slug": {"type": "string"},
                  "consume": {"type": "string", "enum": ["true", "1", "yes"]},
                  "quoteId": {"type": "string"},
                  "requestId": {"type": "string"},
                  "customerRef": {"type": "string"}
                }
              }
            }
          }
        },
        "parameters": [
          {"in": "header", "name": "x-awm-signature", "required": true, "schema": {"type": "string"}, "description": "sha256=<hmac(timestamp.body, AWM_X402_CONSUME_SECRET)>"},
          {"in": "header", "name": "x-awm-timestamp", "required": true, "schema": {"type": "string"}, "description": "Unix seconds, must be within tolerance window (default 5 min)"}
        ],
        "responses": {
          "200": {"description": "Verified and bound"},
          "401": {"description": "Bad signature"},
          "409": {"description": "Receipt already consumed"},
          "425": {"description": "Receipt finality not yet reached"}
        }
      }
    },
    "/api/protected-resource": {
      "get": {
        "tags": ["Delivery"],
        "summary": "Fetch a paid resource after a verified receipt is bound",
        "parameters": [
          {"in": "query", "name": "slug", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Resource delivered (URL or inline content)"},
          "402": {"description": "Payment required"},
          "403": {"description": "Receipt not bound to this slug"}
        }
      }
    },
    "/api/delivery-status": {
      "get": {
        "tags": ["Delivery"],
        "summary": "Check delivery status for a payment",
        "responses": {"200": {"description": "OK"}}
      }
    },
    "/api/fulfillment-receipt": {
      "get": {
        "tags": ["Delivery"],
        "summary": "Read a fulfillment receipt",
        "responses": {"200": {"description": "OK"}}
      },
      "post": {
        "tags": ["Delivery"],
        "summary": "Record a fulfillment",
        "responses": {"200": {"description": "OK"}}
      }
    },
    "/api/onboarding": {
      "get": {"tags": ["Discovery"], "summary": "Agent onboarding hints", "responses": {"200": {"description": "OK"}}},
      "post": {"tags": ["Discovery"], "summary": "Submit onboarding payload", "responses": {"200": {"description": "OK"}}}
    },
    "/api/stripe-webhook": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Stripe sends checkout completion events here",
        "responses": {"200": {"description": "OK"}, "400": {"description": "Bad signature"}}
      }
    },
    "/api/private-delivery-link": {
      "get": {"tags": ["Delivery"], "summary": "Generate a signed download URL", "responses": {"200": {"description": "OK"}}},
      "post": {"tags": ["Delivery"], "summary": "Generate a signed download URL", "responses": {"200": {"description": "OK"}}}
    },
    "/api/private-delivery-download": {
      "get": {
        "tags": ["Delivery"],
        "summary": "Stream a private paid file (requires valid signed URL)",
        "responses": {
          "200": {"description": "File stream"},
          "403": {"description": "Invalid or expired signature"}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentProductsResponse": {
        "type": "object",
        "properties": {
          "schema": {"type": "string", "example": "ai-work-market.agent-products.v1"},
          "marketplace": {"type": "object"},
          "paymentRails": {"type": "array", "items": {"type": "string"}},
          "products": {"type": "array", "items": {"$ref": "#/components/schemas/Product"}}
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "type": {"type": "string"},
          "status": {"type": "string"},
          "price": {"type": "object", "properties": {"amountUsd": {"type": "number"}, "currency": {"type": "string"}}},
          "checkout": {"type": "object"},
          "paymentRails": {"type": "array"},
          "fulfillment": {"type": "object"},
          "proof": {"type": "object", "nullable": true}
        }
      },
      "SystemStatusResponse": {
        "type": "object",
        "properties": {
          "schema": {"type": "string", "example": "ai-work-market.system-status.v1"},
          "network": {"type": "string", "example": "base-mainnet"},
          "chainId": {"type": "integer", "example": 8453},
          "escrow": {"type": "string"},
          "usdc": {"type": "string"},
          "onchain": {
            "type": "object",
            "properties": {
              "nextIntentId": {"type": "integer", "nullable": true},
              "completedIntents": {"type": "integer", "nullable": true},
              "accumulatedFeesRaw": {"type": "string", "nullable": true},
              "defaultFeeBps": {"type": "integer", "nullable": true},
              "feeRecipient": {"type": "string", "nullable": true},
              "owner": {"type": "string", "nullable": true},
              "escrowUsdcRaw": {"type": "string", "nullable": true},
              "blockNumber": {"type": "integer", "nullable": true}
            }
          },
          "health": {"type": "object"}
        }
      }
    }
  }
}
